<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bo.edu.uto.dtic.certificadonotas.mappers.CarrerasMapper">
    
	<select id="filterCarreraByFacultad" resultType="Carrera">
        select distinct on(c.carrera) f.facultad 
        ,f.abrev
        ,f.id_facultad  
        ,c.carrera
        ,c.id_carrera  
		from public.gestiones g 
			join public.notas n on (g.id_gestion=n.id_gestion)
			join public.facultades f on (n.id_facultad = f.id_facultad)
			join carreras c on (n.id_carrera = c.id_carrera and c.id_facultad=f.id_facultad)
		where 
			n.id_facultad = #{id_facultad}
		;
    </select>  

    <select id="filterCarreraByGestion" resultType="Carrera">
        select distinct on(g.id_gestion) g.id_gestion 
        ,f.abrev 
        ,f.facultad 
        ,c.carrera 
        ,g."_gestion"
        ,c.id_carrera 
        ,f.id_facultad 
		from public.gestiones g 
			join public.notas n on (g.id_gestion=n.id_gestion)
			join public.facultades f on (n.id_facultad = f.id_facultad)
			join carreras c on (n.id_carrera = c.id_carrera and c.id_facultad=f.id_facultad)
		where 
            c.id_carrera = #{id_carrera}
		order by g.id_gestion desc 
		;
    </select> 
    

</mapper>